@font-face {
  font-family: "Train";
  src: url(/assets/font/TrainOne-Regular.ttf);
}

@font-face {
  font-family: "pop";
  src: url(/assets/font/Poppins-Black.ttf);
}

@import "mixins";
@import "extend";

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: darkcyan;
}

.nav-logo {
  background: url(/assets/img/developpement-code.png) center/cover;
  height: 30px;
  width: 30px;
}

#nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: gainsboro;
  height: 5vh;

  ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: "Train";

    a {
      text-decoration: none;
      color: rgb(46, 73, 19);
      &:hover {
        color: darkcyan;
      }
    }
  }
  .icon-burger {
    display: none;
  }
}

#zone1 {
  height: 95vh;
  font-family: "pop";

  @include grid50();
  #cadre1 {
    height: 100%;
    background: lightskyblue;
    @extend %dflex-center;
    flex-direction: column;
    h2 {
      color: rgb(47, 40, 78);
      @extend %dflex-center;
    }
    #timo {
      background: url(/assets/img/timo.jpg) center/cover;
      //   object-fit: cover;
      @extend %mtop;
      width: 30%;
      height: 30%;
      border-radius: 50px;
    }
  }
  #cadre2 {
    @extend %dflex-center;
    flex-direction: column;
    height: 100%;
    background: chocolate;
    h3 {
      @extend %dflex-center;
    }
    #dev-back {
      background: url(/assets/img/K5I1.gif) center/cover;
      height: 20%;
      width: 40%;
      border-radius: 50%;
      opacity: 0.3;
    }
  }
  a {
    text-decoration: none;
    @extend %mtop;
    &:hover {
      color: darkcyan;
    }
  }
}

@media screen and (max-width: 576px) {
  #zone1 {
    grid-template-columns: 1fr;
  }
}
