@font-face {
  font-family: "Train";
  src: url(/assets/font/TrainOne-Regular.ttf);
}
@font-face {
  font-family: "pop";
  src: url(/assets/font/Poppins-Black.ttf);
}
#zone1 #cadre2 h3, #zone1 #cadre2, #zone1 #cadre1 h2, #zone1 #cadre1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#zone2 #tek .grid-container-tek, #zone1 a, #zone1 #cadre1 #timo {
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background: darkcyan;
  overflow-y: hidden;
}

.nav-logo {
  background: url(/assets/img/developpement-code.png) center/cover;
  height: 30px;
  width: 30px;
}

#nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  height: 5vh;
  position: fixed;
  width: 100%;
}
#nav-menu ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-family: "Train";
}
#nav-menu ul a {
  text-decoration: none;
  color: whitesmoke;
}
#nav-menu ul a:hover {
  color: darkcyan;
}
#nav-menu .icon-burger {
  display: none;
}

#zone1 {
  height: 100vh;
  font-family: "pop";
  display: grid;
  grid-template-columns: 50% 50%;
}
#zone1 #cadre1 {
  height: 100%;
  background: lightskyblue;
  flex-direction: column;
}
#zone1 #cadre1 h2 {
  color: #2f284e;
}
#zone1 #cadre1 #timo {
  background: url(/assets/img/timo.jpg) center/cover;
  width: 30%;
  height: 30%;
  border-radius: 50px;
}
#zone1 #cadre2 {
  flex-direction: column;
  height: 100%;
  background: chocolate;
}
#zone1 #cadre2 #dev-back {
  background: url(/assets/img/K5I1.gif) center/cover;
  height: 30%;
  width: 40%;
  border-radius: 50%;
  opacity: 0.3;
}
#zone1 a {
  text-decoration: none;
}
#zone1 a:hover {
  color: darkcyan;
}

#zone2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#zone2 #tek {
  width: 80%;
  height: 60%;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
#zone2 #tek h4 {
  font-size: 1.5rem;
  font-family: "pop";
}
#zone2 #tek .grid-container-tek {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 80%;
  width: 80%;
  justify-items: center;
  align-items: center;
}
#zone2 #tek .grid-container-tek .html {
  background: url(/assets/img/HTm.png) center/cover;
  height: 100px;
  width: 100px;
}
#zone2 #tek .grid-container-tek .css {
  background: url(/assets/img/cs.png) center/cover;
  height: 100px;
  width: 70px;
}
#zone2 #tek .grid-container-tek .sass {
  background: url(/assets/img/sass.png) center/cover;
  height: 100px;
  width: 100px;
}
#zone2 #tek .grid-container-tek .js {
  background: url(/assets/img/js.png) center/cover;
  height: 100px;
  width: 100px;
}
#zone2 #tek .grid-container-tek .jquery {
  background: url(/assets/img/jquey.png) center/cover;
  height: 100px;
  width: 100px;
}
#zone2 #tek .grid-container-tek .git {
  background: url(/assets/img/git-1-226092.webp) center/cover;
  height: 100px;
  width: 100px;
}
#zone2 #tek .grid-container-tek .bootstrap {
  background: url(/assets/img/bootstrap-6-1175203.png) center/cover;
  height: 100px;
  width: 100px;
}

.showNav {
  transform: translateY(0%);
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #333;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding-top: 4rem;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  #zone2 #tek .grid-container-tek {
    height: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  #zone2 #tek {
    width: 90%;
    height: 70%;
  }
  #zone2 #tek h4 {
    font-size: 1rem;
  }
  #zone2 #tek .grid-container-tek {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  #zone2 #tek .grid-container-tek .html,
#zone2 #tek .grid-container-tek .sass,
#zone2 #tek .grid-container-tek .js,
#zone2 #tek .grid-container-tek .git,
#zone2 #tek .grid-container-tek .jquery,
#zone2 #tek .grid-container-tek .bootstrap {
    height: 70px;
    width: 70px;
  }
  #zone2 #tek .grid-container-tek .css {
    height: 70px;
    width: 50px;
  }

  #nav-menu ul {
    display: none;
  }
  #nav-menu .icon-burger {
    display: block;
    font-size: 1.5rem;
    color: white;
  }

  #zone1 {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
